{% load staticfiles %}
<div class="row">
	<div class="large-2 columns">
		<div class="logo">
			<a href="//www.kcl.ac.uk/artshums/digitallab/" title="King's Digital Lab">
			   <img src="/static/images/KCL-KDL-logo-BW.svg">
			</a>
		</div>
	</div>
	<div class="large-4 columns">           
		<a href="//erc.europa.eu" title="European Research Council">
			<img src="/static/images/erc_banner-horizontal.jpg">
		</a>
	</div>
	<div class="large-6 columns text-right">
		<p>© 2016 King's Digital Humanities &amp; King's Digital Lab</p>
	</div>
</div>
