{% load wagtailcore_tags wagtailbase_tags %}

<ul class="vertical medium-horizontal menu dropdown" data-dropdown-menu>
    <li{% if current_page and root.url == current_page.url %} class="active"{% endif %}>
        <a href="{% pageurl root %}">{{ root.title }}</a>
    </li>

    {% for page in menu_pages %}
    <li{% if current_page and page|is_current_or_ancestor:current_page %} class="active"{% endif %}>
        <a href="{% pageurl page %}">{{ page.title }}</a>

        <!-- only needed to show sub-pages in the main nav -->
        {% if page.get_children %}
    	<ul class="menu">
    		{% for child in page.get_children %}
    		<li><a href="{% pageurl child %}">{{ child.title }}</a></li>
    		{% endfor %}
    	</ul>
    	{% endif %}
    </li>
    {% endfor %}
    <li{% if request.get_full_path == '/news1/' %} class="active"{% endif %}>
        <a href="/news1/">News</a>
    </li>    
    <li{% if request.get_full_path == '/blog/' %} class="active"{% endif %}>
        <a href="/blog/">Blog</a>
    </li>
</ul>