{% load staticfiles compress require %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block meta_title %}{% endblock %} | The Values of French</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  <link rel="stylesheet" type="text/x-scss" href="{% static 'vendor/font-awesome/scss/font-awesome.scss' %}">  


  {% endcompress %}

  {% block extra_head %}
  {% endblock %}

</head>
<body>

<header>
  {% include 'includes/header.html' %}
</header>

<nav>

  {% include 'includes/navigation.html' %}

</nav>

<section class="main">

        <div class="large-12 columns">
          {% block title %}{% endblock %}
          {% block main %}
          {% endblock %}
        </div>

</section>



<footer>
  {% include 'includes/footer.html' %}
</footer>


<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/foundation-sites/dist/foundation.min.js' %}"></script>
<!--<script src="{% static 'temp/js/foundation.min.js' %}"></script>-->

{% compress js %}
<script src="{% static 'js/app.js' %}"></script>
{% endcompress %}

<script>
  $(document).foundation();
</script>


</body>
</html>
